Laboratorium 6
Opis zadania
Projekt nale偶y wykona w grupach 2-3 osobowych. Wszystkie osoby z grupie otrzymuj wsp贸ln ocen za cao projektu (szczeg贸owy opis i elementy projektu znajduje si poni偶ej).

Narzdzia
Preferowanym narzdziem wykonania projektu jest Jupyter Notebook - jzyk Python (chyba, 偶e prowadzcy laboratorium wyrazi zgod na inn technologi).

W zadaniu mo偶na korzysta z bibliotek:

numpy,
pandas,
scikit-learn,
scipy,
matplotlib,
inne (po uzgodnienieu z prowadzcym).
Wysyanie projektu
Projekt powinien skada si z nastpujcych element贸w:

Baza danych (wybrana baza danych).
Notatnik z implementacj rozwizania - plik *.ipynb (+ ewentualnie pliki *.py).
Prezentacja - plik *.pdf oraz plik ze 藕r贸dem prezentacji (w zale偶noci od tego w czym prezentacja bya wykonana mo偶e to by plik: *.tex, *.ppt, *.pptx, *.md, *.odp). Prezentacja powinna trwa maksymalnie 5 minut (po przekroczeniu czasu prezentacja jest przerywana).
Wszystkie pliki powinny zosta spakowane archiwizatorem zip i wysane przez platform WIKAMP.

Struktura plik贸w jak nale偶y odda do oceny (przykad):

+--  [NAZWA_PROJEKTU]
    +--  projekt
        +--  projekt.ipynb
        +--  opcjonalny_plik.py
    +--  prezentacja
        +--  prezentacja.pdf
        +--  prezentacja.md
    +--  baza_danych
        +--  plik.csv
        +--  plik.info
Elementy jakie powinny si znale藕 w projekcie:
1. Zbi贸r danych (minimum 6 klas).
Sugerowana strona ze zbiorami danych (mo偶e by inne 藕r贸do, je偶eli prowadzcy wyrazi zgod): https://archive.ics.uci.edu.

UWAGA: Skad osobowy grupy oraz wybrany zbi贸r danych nale偶y zgosi prowadzcemu - kolejno zgosze ma znaczenie (zabezpieczenie by dwie grupy nie wybray takiego samego zbioru danych).

2. Podzia zbioru danych na treningowy i testowy.
Parametry podziau (proporcje) powinny by konfigurowalne.

3. Wstpna analiza danych.
Ile jest pr贸bek ka偶dej klasy, ile jest cech, czy dane s znormalizowane, czy wymagaj normalizacji, czy s inne czynnoci jakie nale偶y wykona, statystyki (tylko istotne - takie kt贸re wpywaj na dalsze kroki).

4. Wstpne przetworzenie danych (preprocessing).
Normalizacja danych,
podzia zbioru treningowego na treningowy i walidacyjny,
usunicie bdnych danych.
5. Selekcja cech.
Opis jakie metody selekcji cech zastosowano, dlaczego wybrano tak metod a nie inn.

6. Klasyfikacja.
Przeprowad藕 klasyfikacj poznanymi metodami klasyfikacji:

NN,
k-NN,
NM.
Opr贸cz powy偶szego:

przeprowad藕 analiz wynik贸w,
wybierz metod i uzasadnij wyb贸r.
7. Przetestuj wybrane modele na zbiorze testowym.
Wykonaj analiz i przedstaw wyniki bada.

8. Wnioski.
Napisz wnioski z przeprowadzonego projektu.

In [7]:
import numpy as np
import pandas as pd

In [8]:
names = ['elev','azimuth','slope','hdthnsef','vdthnsef','hdtr','hillshade9','hillshade_noon','hillshade3','hdtfp','wilderness1','wilderness2','wilderness3','wilderness4']
mydata = pd.read_csv("covtype.data", header = None)

In [9]:
mydata

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3